
$font-family1 :Helvetica, Arial, sans-serif;


@font-face {
    font-family: 'SFProDisplay-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FontsFree-Net-SFProDisplay-Regular.ttf');

}


@font-face {
    font-family: 'SFProText-Medium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FontsFree-Net-SFProText-Medium.ttf');

}


.a_p_p_Login_Card {
    border-radius: 10px;
    background-color:white;

}



.a_p_p_Login_Image {
    border-top-left-radius: 10px;
    border-top-right-radius:10px;


}

.a_p_p_Login_Card_Notifications_Count {
    background-color: red;
    border-radius: 50px;
    padding-top:5px;
    padding-left:10px;
    color:white;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

.a_p_p_Login_Name{
    text-align: center;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    opacity: .7;
    padding-top:15px;
}



.login-page.a_p_p_Input {
    direction: ltr;
    word-wrap: break-word;
    -webkit-appearance: none;
    margin: 0;
    background: #FFFFFF ;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    font-size: 17px;
    padding: 24px 16px ;
    width: 330px;
    border-radius: 6px;
    font-family: Helvetica, Arial, sans-serif;
}

.login-page.a_p_p_Input:focus{
    border-color:blue !important;
}
// not working for some reason


.a_p_p_Container {
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    word-wrap: break-word;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    text-align: center;
    padding-bottom: 24px;
    padding-top: 10px;
    font-family: inherit;
}

.login-page.a_p_p_Button {
    direction: ltr;
    word-wrap: break-word;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    font-family: Helvetica, Arial, sans-serif;
}

.a_p_p_Anchor{
    font-family: $font-family1;
}
.login-page.a_p_p_Anchor:hover {
    text-decoration: underline;
}


.login-page.a_p_p_Button.a_p_p_Create_New_Account  {
    direction: ltr;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    color: #fff;
    background-color: #42b72a;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
}

.a_p_p_SiteMap_Anchor {
    color:blue
}

.a_p_p_SiteMap_Anchor:hover{
    text-decoration: underline;
}
