<ng-container *ngFor = 'let a of ryber[appTV].quantity[1];let b = index' >


    <ng-container *ngFor = 'let aa of a.quantity[0];let bb = index;'  >
		<div
		appNest [nest] = "ryber.appAvailble( a.extras[0][bb], 'appNest')"
		appWebVitals [webVitals] = "ryber.appAvailble( a.extras[0][bb], 'appWebVitals')"
		appDeltaNode [deltaNode] = "ryber.appAvailble( a.extras[0][bb], 'appDeltaNode')"
        #myVal
        *ngIf= "a.bool[0][bb] ==='divBoard' else boardBlock0"
        class = {{a.val[0][bb]}}
		[ngStyle] = 'a.ngCss[0][bb]'
		>
        </div>
        <ng-template #boardBlock0  >
            <img
			#myVal
			appNest [nest] = "ryber.appAvailble( a.extras[0][bb], 'appNest')"
			appDeltaNode [deltaNode] = "ryber.appAvailble( a.extras[0][bb], 'appDeltaNode')"
            *ngIf= "a.bool[0][bb] ==='imgBoard' else boardBlock1"
			class = {{a.val[0][bb]}}
			[ngStyle] = 'a.ngCss[0][bb]'
            />
        </ng-template>

    </ng-container>

    <ng-container *ngFor = 'let aa of a.quantity[1];let bb = index;' >
		<ng-template *ngIf= "aa ===null else elseBlock7">

		</ng-template>
        <ng-template #elseBlock7  >
			<a
			appNest [nest] = "ryber.appAvailble( a.extras[1][bb], 'appNest')"
			appDeltaNode [deltaNode] = "ryber.appAvailble( a.extras[1][bb], 'appDeltaNode')"
			appLatch [latch] = "ryber.appAvailble( a.extras[1][bb], 'appLatch')"
            appInputHandle [inputHandle] = "ryber.appAvailble( a.extras[1][bb], 'appInputHandle')"
            toggleButton [stuff] ="ryber.appAvailble( a.extras[1][bb], 'toggleButton')"
            #myVal
            *ngIf= "a.bool[1][bb] ==='a' else elseBlock8"
            class = {{a.val[1][bb]}}
            [ngStyle] = 'a.ngCss[1][bb]'
            [innerHTML] = 'a.text[1][bb].item'>
        </a>
        </ng-template>
        <ng-template #elseBlock8  >
            <p
			#myVal
            *ngIf= "a.bool[1][bb] ==='p' else elseBlock18"
            class = {{a.val[1][bb]}}
            [ngStyle] = 'a.ngCss[1][bb]'
            [innerHTML] = 'a.text[1][bb].item'>
            </p>
        </ng-template>
        <ng-template #elseBlock18  >
			<div
				#myVal
				appDeltaNode [deltaNode] = "ryber.appAvailble( a.extras[1][bb], 'appDeltaNode')"
				appWebRTC [webRTC] = "ryber.appAvailble( a.extras[1][bb], 'appWebRTC')"
				appGoogleMaps [googleMaps] = "ryber.appAvailble( a.extras[1][bb], 'appGoogleMaps')"
				appNest [nest] = "ryber.appAvailble( a.extras[1][bb], 'appNest')"
				*ngIf= "a.bool[1][bb] ==='div'   else elseBlock21"
				class = {{a.val[1][bb]}}
				[ngStyle] = 'a.ngCss[1][bb]' >
			</div>
		</ng-template>
        <ng-template #elseBlock21  >
			<button #myVal
				appDeltaNode [deltaNode] = "ryber.appAvailble( a.extras[1][bb], 'appDeltaNode')"
                appNest [nest] = "ryber.appAvailble( a.extras[1][bb], 'appNest')"
                appInputHandle [inputHandle] = "ryber.appAvailble( a.extras[1][bb], 'appInputHandle')"
                appFormControl [formControl] = "ryber.appAvailble( a.extras[1][bb], 'appFormControl')"
                appFileHandler [fileHandler] = "ryber.appAvailble( a.extras[1][bb], 'appFileHandler')"
                *ngIf= "a.bool[1][bb] ==='b' else elseBlock22 "
                class = {{a.val[1][bb]}}
                [ngStyle] =  'a.ngCss[1][bb]'
                [innerHTML] = 'a.text[1][bb].item'
                appExtend [extend] = "ryber.appAvailble( a.extras[1][bb], 'extend')" >
            </button>
        </ng-template>

    </ng-container>


</ng-container>


